absl-py==0.10.0
altair==4.2.0
arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1600909298598/work
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601745390275/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
blinker==1.4
boto==2.49.0
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1602286028824/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1602283502973/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1588860304135/work
brotlipy==0.7.0
bz2file==0.98
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1593420445823/work
certifi==2021.10.8
cffi @ file:///opt/concourse/worker/volumes/live/8fbed55e-0573-4246-7cf9-162067141d5e/volume/cffi_1605538070636/work
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
cmdstanpy==0.9.5
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.0.1
Fiona==1.8.20
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1588861378954/workk
gast==0.3.3
geopandas==0.10.2
gitdb==4.0.9
GitPython==3.1.26
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1601485373217/work
google-auth-oauthlib==0.4.1
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1602093568796/work
google-cloud-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-storage_1601484581504/work
google-pasta==0.2.0
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1602011069843/work
graphviz==0.19
h5py==2.10.0
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1595448845196/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imbalanced-learn @ file:///home/conda/feedstock_root/build_artifacts/imbalanced-learn_1592145894352/work
import-ipynb==0.1.3
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1602263269022/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
jdcal==1.4.1
Jinja2==2.11.2
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1601671685479/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions @ file:///home/conda/feedstock_root/build_artifacts/jupyter_contrib_nbextensions_1614931162960/work
jupyter-latex-envs==1.4.4
jupyter_nbextensions_configurator_1611341144578/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
Markdown==3.3.1
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1616505766995/work
numpy==1.18.5
pandas==1.1.3
pandasql @ file:///home/conda/feedstock_root/build_artifacts/pandasql_1623699966879/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1601563174572/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/
pyspark @ file:///home/conda/feedstock_root/build_artifacts/pyspark_1592324737617/work
python-dateutil==2.8.1
scikit-surprise==1.1.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1604238753550/work
streamlit==1.4.0

